<button (click)="addPackage()">Add New Package</button>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Duration</th>
    <th>Place</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let package of tourPackages">
    <td>{{ package.packageName }}</td>
    <td>{{ package.description }}</td>
    <td>{{ package.price }}</td>
    <td>{{ package.durationDays }}</td>
    <td>{{ package.place }}</td>
    <td>
        <button (click)="editPackage(package)">Edit</button>
        <button (click)="deletePackage(package.packageID)">Delete</button>
    </td>
  </tr>
</table>

<app-tour-package-form
  *ngIf="selectedPackage"
  [packageData]="selectedPackage"
  (formSubmit)="savePackage($event)">
</app-tour-package-form>