<div class="travel-places-container">
  <h2>Travel Places</h2>
  <button routerLink="/travel-places/new" mat-raised-button color="primary" class="add-btn">
    Add New Travel Place
  </button>
  <div *ngIf="loading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
  <div class="places-grid" *ngIf="!loading && !error">
    <ng-container *ngIf="travelPlaces.length > 0; else noData">
      <table>
        <thead>
          <tr class="table-header">
            <th>Place Name</th>
            <th>Owner Name</th>
            <th>Description</th>
            <th>Contact Info</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="place-row" *ngFor="let place of travelPlaces">
            <td>{{ place.placeName }}</td>
            <td>{{ place.ownerName }}</td>
            <td>{{ place.description }}</td>
            <td>{{ place.contactInfo }}</td>
            <td>
              <a *ngIf="place.locationLink" [href]="place.locationLink" target="_blank">View Map</a>
            </td>
            <td class="place-actions">
              <button
                *ngIf="place.id !== undefined"
                [routerLink]="['/travel-places/edit', place.id]"
                mat-button
                class="edit-btn"
              >
                Edit
              </button>
              <button
                *ngIf="place.id !== undefined"
                (click)="deleteTravelPlace(place.id!)"
                mat-button
                class="delete-btn"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #noData>
      <div class="no-data">No travel places found.</div>
    </ng-template>
  </div>
</div>
